<nav class="navbar navbar-default navbar-fixed-top nav-custom"
     ng-controller="UserMaster">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand nav-logo" ng-click="goHome()">lyve</a>
      </div>
      <div ng-show="userToken">
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              {{currentUser.username}} <span class="caret"></span></a>
            </a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="goHome()">Profile</a></li>
              <li ng-click="logout()"><a href="">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
