<div class="row">
  <aside class="col-sm-offset-1 col-sm-3 user-container">
    <img ng-src="http://www.gravatar.com/avatar/{{currentUser.gravatar}}"
         alt="Description" class="current-user-gravatar pull-left"/>
    <span class="user-info">
      <h4 class="pull-left profile-un">{{currentUser.fullName}}</h4>
      <br>
      <h4 class="pull-left profile-fn">{{currentUser.username}}</h4>
    </span>
    <div class="tweet-container">
      <form class="new-post" ng-submit="submitPost()">
        <textarea class="post-text" ng-model="postText" required></textarea>
        <br>
        <button class="btn btn-primary" name="go-lyve">Go Lyve</button>
      </form>
    </div>
  </aside>
  <div class="col-sm-6 post-container">
    <h3>Posts:</h3>
    <div class="user-post" ng-repeat="post in currentUserPosts | orderBy : 'dateCreated' : true">
      <span class="pull-left"><img ng-src="http://www.gravatar.com/avatar/{{post.postComposerGravatar}}"
        alt="Description" class="post-gravatar"/></span>
      <span class="post-content-container">
        <span class="pull-left post-un"><p>{{post.postComposerUserName}}</p></span>
        <span class="pull-left post-fn"><p> @{{post.postComposerFullName}}</p></span>
        <br>
        <p class="post-timestamp pull-left">{{(post.dateCreated | date:'MMM d')}}</p>
        <br>
        <p class="post-content pull-left">{{post.content}}</p>
      </span>
    </div>
  </div>
</div>
