.btn-login, .btn-register {
  margin-top: 10px;
}
.register-input {
  margin-top: 8px;
}
.auth-container {
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(74, 110, 158);
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 80px;
  padding-top: 80px
}
.auth-container h2 {
  margin-top: 0;
  clear: both;
}
body {
  padding-top: 90px;
}
body, html{
  background-color: rgb(98, 131, 175);
}
.navbar-header {
  margin-left: 120px;
}
.navbar-nav {
  margin-right: 110px;
}
.user-container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid rgb(71, 112, 150);
}
.post-text {
  resize: none;
  width: 100%;
}
.post-gravatar {
  width: 40px;
}
.user-post {
  background-color: white;
  border-top: 1px solid rgb(208, 207, 207);
  padding: 10px;
  overflow: auto;
}
.post-container {
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(71, 112, 150);
  padding-bottom: 20px;
}
.post-container p {
  margin-top: 0;
  margin-bottom: 0;
}
.post-un, .post-fn {
  margin-left: 5px;
}
.post-fn {
  color: gray;
}
.post-content {
  margin-top: 5px !important;
  font-size: 1.3em;
}
.post-timestamp {
  margin-left: 5px;
}
