.btn-login, .btn-register {
  margin-top: 10px;
}
.register-input {
  margin-top: 8px;
}
.auth-container {
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(74, 110, 158);
  overflow: auto;
  margin-top: 20px;
  padding-bottom: 80px;
  padding-top: 50px
}
.auth-container h2 {
  margin-top: 0;
  clear: both;
}
body {
  padding-top: 90px;
}
body, html{
  background-color: rgb(98, 131, 175);
}
.navbar-header {
  margin-left: 120px;
}
.navbar-nav {
  margin-right: 110px;
}
.user-container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid rgb(71, 112, 150);
}
.post-text {
  resize: none;
  width: 100%;
  margin-top: 10px;
  height: 100px;
}
.post-gravatar {
  width: 40px;
}
.user-post {
  background-color: white;
  border-top: 1px solid rgb(208, 207, 207);
  padding: 10px;
  overflow: auto;
}
.post-container {
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(71, 112, 150);
  padding-bottom: 20px;
  margin-left: 20px;
}
.post-container p {
  margin-top: 0;
  margin-bottom: 0;
}
.post-un, .post-fn {
  margin-left: 5px;
}
.post-fn {
  color: gray;
  font-size: .8em;
  margin-top: 2px;
}
.post-content {
  margin-top: 5px !important;
  font-size: 1.3em;
}
.post-timestamp {
  margin-left: 5px;
  font-size: .8em;
}
.profile-un {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 1.3em;
}
.profile-fn {
  margin-left: 5px;
  margin-top: 0;
  color: rgb(116, 116, 116);
}
.nav-logo {
  color: rgb(62, 94, 132) !important;
  font-family: Monaco;
  cursor: pointer;
}
.red {
  color: red;
}
div#user-list-container {
    border-radius: 8px;
    border: 2px solid rgb(71, 112, 150);
    padding-bottom: 0px;
    margin-left: 20px;
    overflow: auto;
    background-color: white;
}
.listed-user {
  background-color: white;
  background-color: white;
  border-top: 1px solid rgb(208, 207, 207);
  padding: 10px;
  overflow: auto;
}
.clear-top-bot {
  margin-top: 0;
  margin-bottom: 0;
}
.follow-info {
  margin-left: 5px;
  overflow: auto;
}
.user-list {
  margin-left: 10px;
}
.navbar-nav li:hover {
  background-color: rgb(214, 214, 214);
}
.login-logo {
  font-family: Monaco;
  text-align: center;
  color: rgb(62, 94, 132) !important;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 4em;
}
